NodeRed/NodeRedGrafanaInfluxDBFlow.txt
[
    {
        "id": "ea9e8dff.6353a8",
        "type": "mqtt in",
        "z": "490d6f14.f22d68",
        "name": "JSON from PoolMaster",
        "topic": "Home/Pool",
        "qos": "1",
        "broker": "99099cd5.b5ffa8",
        "x": 205,
        "y": 174,
        "wires": [
            [
                "5230e6b4.cc702",
                "c5c1cffd.14c3e8"
            ]
        ]
    },
    {
        "id": "56f3efe3.8bef58",
        "type": "influxdb out",
        "z": "490d6f14.f22d68",
        "influxdb": "45a93ed5.79a518",
        "name": "PoolMaster",
        "measurement": "PoolMaster",
        "precision": "",
        "retentionPolicy": "",
        "x": 819,
        "y": 173,
        "wires": []
    },
    {
        "id": "5230e6b4.cc702",
        "type": "json",
        "z": "490d6f14.f22d68",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 416,
        "y": 173,
        "wires": [
            [
                "57ad47ca.bbdc4"
            ]
        ]
    },
    {
        "id": "fa6e5296.3c1a48",
        "type": "debug",
        "z": "490d6f14.f22d68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 803,
        "y": 232.49998474121094,
        "wires": []
    },
    {
        "id": "c5c1cffd.14c3e8",
        "type": "debug",
        "z": "490d6f14.f22d68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 416,
        "y": 233.99998474121094,
        "wires": []
    },
    {
        "id": "57ad47ca.bbdc4",
        "type": "function",
        "z": "490d6f14.f22d68",
        "name": "Decode MySensor Message",
        "func": "var mask = parseInt(msg.payload.IO, 10);\nvar mask2 = parseInt(msg.payload.IO2, 10);\n\nmsg.payload.FiltState = (mask & 128) == 128 ? 1:0;\nmsg.payload.pHPumpState = (mask & 64) == 64 ? 1:0;\nmsg.payload.ChlPumpState = (mask & 32) == 32 ? 1:0;\nmsg.payload.pHLevel = (mask & 16) == 16 ? 1:0;\nmsg.payload.ChlLevel = (mask & 8) == 8 ? 1:0;\nmsg.payload.PSIError = (mask & 4) == 4 ? 1:0;\nmsg.payload.pHPumpUpTimeErr = (mask & 2) == 2 ? 1:0;\nmsg.payload.ChlPumpUpTimeErr = (mask & 1) == 1 ? 1:0;\n\nmsg.payload.pHPIDMode = (mask2 & 128) == 128 ? 1:0;\nmsg.payload.ChlPIDMode = (mask2 & 64) == 64 ? 1:0;\nmsg.payload.AutoMode = (mask2 & 32) == 32 ? 1:0;\nmsg.payload.WaterHeat = (mask2 & 16) == 16 ? 1:0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 607,
        "y": 174,
        "wires": [
            [
                "fa6e5296.3c1a48",
                "56f3efe3.8bef58"
            ]
        ]
    },
    {
        "id": "99099cd5.b5ffa8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Local Broker",
        "broker": "192.168.0.38",
        "port": "1883",
        "clientid": "CharNodeRed",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Home/NodeRed",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "online",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "Home/NodeRed",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "offline"
    },
    {
        "id": "45a93ed5.79a518",
        "type": "influxdb",
        "z": "",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "POOL",
        "name": "Pool",
        "usetls": false,
        "tls": ""
    }
]