NodeRed/Poolmaster Control
[
    {
        "id": "9a302408.330a28",
        "type": "tab",
        "label": "Poolmaster Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "108f1208.3a027e",
        "type": "ui_switch",
        "z": "9a302408.330a28",
        "name": "",
        "label": "Filtration Pump",
        "tooltip": "This will manually turn the Filtration Pump ON or OFF",
        "group": "b013f35d.f9cbb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "Home/Pool/API",
        "style": "",
        "onvalue": "{\"FiltPump\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"FiltPump\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 780,
        "y": 20,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "1b2bc3b.963f13c",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "Slider input to JSON",
        "func": "if(msg.payload != \"0\")\n    msg.payload = {\"PhSetPoint\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1960,
        "y": 1100,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "e9ff9b1e.6e9aa8",
        "type": "mqtt out",
        "z": "9a302408.330a28",
        "name": "MQTT Broker",
        "topic": "Home/Pool/API",
        "qos": "1",
        "retain": "",
        "broker": "30654e7b.139f62",
        "x": 2240,
        "y": 320,
        "wires": []
    },
    {
        "id": "637c99c4.37aca8",
        "type": "ui_switch",
        "z": "9a302408.330a28",
        "name": "",
        "label": "pH Pump",
        "tooltip": "This will manually turn the pHPump ON or OFF",
        "group": "b013f35d.f9cbb",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Pool/API",
        "style": "",
        "onvalue": "{\"PhPump\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"PhPump\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 760,
        "y": 80,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "1e994bae.2a8304",
        "type": "ui_switch",
        "z": "9a302408.330a28",
        "name": "",
        "label": "Chl Pump",
        "tooltip": "This will manually turn the Chl Pump ON or OFF",
        "group": "b013f35d.f9cbb",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Pool/API",
        "style": "",
        "onvalue": "{\"ChlPump\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"ChlPump\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 760,
        "y": 140,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "71106b87.83a4d4",
        "type": "ui_switch",
        "z": "9a302408.330a28",
        "name": "",
        "label": "Relay 1",
        "tooltip": "This will manually turn Relay1 ON or OFF",
        "group": "b013f35d.f9cbb",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Pool/API",
        "style": "",
        "onvalue": "{\"Relay\":[1,1]} ",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"Relay\":[1,0]} ",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "bf32d83d.7849b8",
        "type": "ui_slider",
        "z": "9a302408.330a28",
        "name": "",
        "label": "Ph",
        "tooltip": "",
        "group": "115be131.b7769f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "6.8",
        "max": "7.8",
        "step": "0.1",
        "x": 1630,
        "y": 1060,
        "wires": [
            [
                "380d78bb.ab1578",
                "1b2bc3b.963f13c"
            ]
        ]
    },
    {
        "id": "380d78bb.ab1578",
        "type": "ui_gauge",
        "z": "9a302408.330a28",
        "name": "",
        "group": "115be131.b7769f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pH SetPoint",
        "label": "",
        "format": "{{value}}",
        "min": "6.8",
        "max": "7.8",
        "colors": [
            "#ff0000",
            "#00ff40",
            "#ff0000"
        ],
        "seg1": "7.1",
        "seg2": "7.5",
        "x": 1930,
        "y": 1060,
        "wires": []
    },
    {
        "id": "6a745d21.48c4d4",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "Slider input to JSON",
        "func": "if(msg.payload != \"0\")\n    msg.payload = {\"OrpSetPoint\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1960,
        "y": 1220,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "d9d88e8d.05fd9",
        "type": "ui_slider",
        "z": "9a302408.330a28",
        "name": "",
        "label": "Chl",
        "tooltip": "",
        "group": "115be131.b7769f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "min": "700",
        "max": "800",
        "step": "10",
        "x": 1630,
        "y": 1180,
        "wires": [
            [
                "3234ff03.feb59",
                "6a745d21.48c4d4"
            ]
        ]
    },
    {
        "id": "3234ff03.feb59",
        "type": "ui_gauge",
        "z": "9a302408.330a28",
        "name": "",
        "group": "115be131.b7769f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Chl SetPoint",
        "label": "mV",
        "format": "{{value}}",
        "min": "700",
        "max": "800",
        "colors": [
            "#ff8040",
            "#00ff40",
            "#ff8000"
        ],
        "seg1": "730",
        "seg2": "770",
        "x": 1930,
        "y": 1180,
        "wires": []
    },
    {
        "id": "28ad185a.c23f28",
        "type": "ui_switch",
        "z": "9a302408.330a28",
        "name": "",
        "label": "Mode",
        "tooltip": "In Auto, filtration starts/stops at set times of the day ",
        "group": "b013f35d.f9cbb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Pool/API",
        "style": "",
        "onvalue": "{\"Mode\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"Mode\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 750,
        "y": 200,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "69d01e5e.7c341",
        "type": "ui_switch",
        "z": "9a302408.330a28",
        "name": "",
        "label": "PhPID",
        "tooltip": "start/stop the Ph PID regulation loop",
        "group": "b013f35d.f9cbb",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Pool/API",
        "style": "",
        "onvalue": "{\"PhPID\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"PhPID\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 750,
        "y": 320,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "f6bd396f.898258",
        "type": "ui_switch",
        "z": "9a302408.330a28",
        "name": "",
        "label": "OrpPID",
        "tooltip": "start/stop the Orp PID regulation loop",
        "group": "b013f35d.f9cbb",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Pool/API",
        "style": "",
        "onvalue": "{\"OrpPID\":1}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"OrpPID\":0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 760,
        "y": 380,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "e3f2f572.e73b78",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "Slider input to JSON",
        "func": "if(msg.payload != \"0\")\n    msg.payload = {\"WSetPoint\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1960,
        "y": 1340,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "d6c41304.7d314",
        "type": "ui_slider",
        "z": "9a302408.330a28",
        "name": "",
        "label": "Water Temp.",
        "tooltip": "set the water temperature setpoint",
        "group": "115be131.b7769f",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "Home/Pool/API",
        "min": "20",
        "max": "30",
        "step": "0.5",
        "x": 1650,
        "y": 1300,
        "wires": [
            [
                "a9e9e53a.1449d8",
                "e3f2f572.e73b78"
            ]
        ]
    },
    {
        "id": "a9e9e53a.1449d8",
        "type": "ui_gauge",
        "z": "9a302408.330a28",
        "name": "",
        "group": "115be131.b7769f",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "WTemp SetPoint",
        "label": "C",
        "format": "{{value}}",
        "min": "20",
        "max": "30",
        "colors": [
            "#000080",
            "#ff8000",
            "#ff0000"
        ],
        "seg1": "23",
        "seg2": "27",
        "x": 1950,
        "y": 1300,
        "wires": []
    },
    {
        "id": "f50710f8.dfd28",
        "type": "ui_dropdown",
        "z": "9a302408.330a28",
        "name": "",
        "label": "Filtration Start",
        "tooltip": "set the earliest hour to run filtration pump",
        "place": "Select option",
        "group": "b013f35d.f9cbb",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "2",
                "value": 2,
                "type": "num"
            },
            {
                "label": "3",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4",
                "value": "4",
                "type": "str"
            },
            {
                "label": "5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "6",
                "value": "6",
                "type": "str"
            },
            {
                "label": "7",
                "value": "7",
                "type": "str"
            },
            {
                "label": "8",
                "value": "8",
                "type": "str"
            },
            {
                "label": "9",
                "value": "9",
                "type": "str"
            },
            {
                "label": "10",
                "value": "10",
                "type": "str"
            },
            {
                "label": "11",
                "value": "11",
                "type": "str"
            },
            {
                "label": "12",
                "value": "12",
                "type": "str"
            },
            {
                "label": "13",
                "value": "13",
                "type": "str"
            },
            {
                "label": "14",
                "value": "14",
                "type": "str"
            },
            {
                "label": "15",
                "value": "15",
                "type": "str"
            },
            {
                "label": "16",
                "value": "16",
                "type": "str"
            },
            {
                "label": "17",
                "value": "17",
                "type": "str"
            },
            {
                "label": "18",
                "value": "18",
                "type": "str"
            },
            {
                "label": "19",
                "value": "19",
                "type": "str"
            },
            {
                "label": "20",
                "value": "20",
                "type": "str"
            },
            {
                "label": "21",
                "value": "21",
                "type": "str"
            },
            {
                "label": "22",
                "value": "22",
                "type": "str"
            },
            {
                "label": "23",
                "value": "23",
                "type": "str"
            },
            {
                "label": "24",
                "value": "24",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Home/Pool/API",
        "x": 780,
        "y": 440,
        "wires": [
            [
                "948449d7.410238"
            ]
        ]
    },
    {
        "id": "132db8de.0f2377",
        "type": "ui_dropdown",
        "z": "9a302408.330a28",
        "name": "",
        "label": "Filtration End  ",
        "tooltip": "set the latest hour to run filtration pump",
        "place": "Select option",
        "group": "b013f35d.f9cbb",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "options": [
            {
                "label": "1",
                "value": 1,
                "type": "num"
            },
            {
                "label": "2",
                "value": 2,
                "type": "num"
            },
            {
                "label": "3",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4",
                "value": "4",
                "type": "str"
            },
            {
                "label": "5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "6",
                "value": "6",
                "type": "str"
            },
            {
                "label": "7",
                "value": "7",
                "type": "str"
            },
            {
                "label": "8",
                "value": "8",
                "type": "str"
            },
            {
                "label": "9",
                "value": "9",
                "type": "str"
            },
            {
                "label": "10",
                "value": "10",
                "type": "str"
            },
            {
                "label": "11",
                "value": "11",
                "type": "str"
            },
            {
                "label": "12",
                "value": "12",
                "type": "str"
            },
            {
                "label": "13",
                "value": "13",
                "type": "str"
            },
            {
                "label": "14",
                "value": "14",
                "type": "str"
            },
            {
                "label": "15",
                "value": "15",
                "type": "str"
            },
            {
                "label": "16",
                "value": "16",
                "type": "str"
            },
            {
                "label": "17",
                "value": "17",
                "type": "str"
            },
            {
                "label": "18",
                "value": "18",
                "type": "str"
            },
            {
                "label": "19",
                "value": "19",
                "type": "str"
            },
            {
                "label": "20",
                "value": "20",
                "type": "str"
            },
            {
                "label": "21",
                "value": "21",
                "type": "str"
            },
            {
                "label": "22",
                "value": "22",
                "type": "str"
            },
            {
                "label": "23",
                "value": "23",
                "type": "str"
            },
            {
                "label": "24",
                "value": "24",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Home/Pool/API",
        "x": 770,
        "y": 500,
        "wires": [
            [
                "d83e1e4d.9e0eb"
            ]
        ]
    },
    {
        "id": "948449d7.410238",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "Dropdown input to JSON",
        "func": "if(msg.payload != \"0\")\n    msg.payload = {\"FiltT0\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "d83e1e4d.9e0eb",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "Dropdown input to JSON",
        "func": "if(msg.payload != \"0\")\n    msg.payload = {\"FiltT1\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 500,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "48d01bf.51799e4",
        "type": "ui_numeric",
        "z": "9a302408.330a28",
        "name": "",
        "label": "MQTT Publish interval",
        "tooltip": "set the periodicity (in seconds) at which the system info (pumps states, tank levels states, measured values, etc) will be published to the MQTT broker",
        "group": "b013f35d.f9cbb",
        "order": 10,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "",
        "format": "{{value}}",
        "min": "10",
        "max": "900",
        "step": "10",
        "x": 800,
        "y": 560,
        "wires": [
            [
                "cb8bf312.ee379"
            ]
        ]
    },
    {
        "id": "cb8bf312.ee379",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "NumInput input to JSON",
        "func": "if(msg.payload != \"0\")\n    msg.payload = {\"PubPeriod\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 560,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "43701ffd.3e72b",
        "type": "ui_numeric",
        "z": "9a302408.330a28",
        "name": "",
        "label": "Max Uptime pH/Chl",
        "tooltip": "set the Max Uptime (in secs) for the Ph and Chl pumps over a 24h period. If over, PID regulation is stopped and a warning flag is raised",
        "group": "b013f35d.f9cbb",
        "order": 11,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "Home/Pool/API",
        "format": "{{value}}",
        "min": "600",
        "max": "1800",
        "step": "100",
        "x": 790,
        "y": 620,
        "wires": [
            [
                "dfda652d.6d2008"
            ]
        ]
    },
    {
        "id": "dfda652d.6d2008",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "NumInput input to JSON",
        "func": "if(msg.payload != \"0\")\n    msg.payload = {\"PumpsMaxUp\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 620,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "656eb80e.04f858",
        "type": "ui_numeric",
        "z": "9a302408.330a28",
        "name": "",
        "label": "Delay PID",
        "tooltip": "Delay (in mins) after FiltT0 before the PID regulation loops will start. This is to let the Orp and pH readings stabilize first. Should not be > 59mins",
        "group": "b013f35d.f9cbb",
        "order": 12,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "Home/Pool/API",
        "format": "{{value}}",
        "min": "5",
        "max": "55",
        "step": "5",
        "x": 760,
        "y": 680,
        "wires": [
            [
                "7c170e89.bc9ca"
            ]
        ]
    },
    {
        "id": "7c170e89.bc9ca",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "NumInput input to JSON",
        "func": "if(msg.payload != \"0\")\n    msg.payload = {\"DelayPID\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 680,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "1a70c1d1.64e39e",
        "type": "ui_numeric",
        "z": "9a302408.330a28",
        "name": "",
        "label": "PSI High",
        "tooltip": "Set the water high-pressure threshold (1.0bar in this example). When water pressure is over that threshold, an error flag is set.",
        "group": "b013f35d.f9cbb",
        "order": 13,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "Home/Pool/API",
        "format": "{{value}}",
        "min": "1",
        "max": "10",
        "step": "1",
        "x": 760,
        "y": 740,
        "wires": [
            [
                "5b269905.c93ae8"
            ]
        ]
    },
    {
        "id": "5b269905.c93ae8",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "NumInput input to JSON",
        "func": "if(msg.payload != \"0\")\n    msg.payload = {\"PSIHigh\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 740,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "7dfda193.576eb",
        "type": "ui_form",
        "z": "9a302408.330a28",
        "name": "",
        "label": "pH Tank ",
        "group": "67aa0e8e.7d23a",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Volume in L (0-25)",
                "value": "Volume_pH",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Fill in % (0-100)",
                "value": "Fill_pH",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Volume_pH": "",
            "Fill_pH": ""
        },
        "payload": "",
        "submit": "update",
        "cancel": "cancel",
        "topic": "",
        "x": 880,
        "y": 920,
        "wires": [
            [
                "f67e79bc.e31e38"
            ]
        ]
    },
    {
        "id": "6ea2df50.58b2f",
        "type": "ui_form",
        "z": "9a302408.330a28",
        "name": "",
        "label": "Chl Tank ",
        "group": "67aa0e8e.7d23a",
        "order": 2,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Volume in L (0-25)",
                "value": "Volume_Chl",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Fill in % (0-100)",
                "value": "Fill_Chl",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Volume_Chl": "",
            "Fill_Chl": ""
        },
        "payload": "",
        "submit": "update",
        "cancel": "cancel",
        "topic": "",
        "x": 880,
        "y": 980,
        "wires": [
            [
                "8f6e3054.542b6"
            ]
        ]
    },
    {
        "id": "f67e79bc.e31e38",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "FormInput input to JSON",
        "func": "if(msg.payload != { Volume_pH: 0, Fill_pH: 0 })\n    msg.payload = {\"pHTank\":[msg.payload.Volume_pH,msg.payload.Fill_pH]};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 920,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "8f6e3054.542b6",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "FormInput input to JSON",
        "func": "if(msg.payload != { Volume_Chl: 0, Fill_Chl: 0 })\n    msg.payload = {\"pHTank\":[msg.payload.Volume_Chl,msg.payload.Fill_Chl]};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 980,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "d9f03ed6.097fe",
        "type": "ui_button",
        "z": "9a302408.330a28",
        "name": "",
        "group": "67aa0e8e.7d23a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Clear pH & Chl Error",
        "tooltip": "reset the pH and Orp pumps overtime error flags in order to let the regulation loops continue. \"Mode\", \"PhPID\" and \"OrpPID\" commands need to be switched back On (1) after an error flag was raised",
        "color": "",
        "bgcolor": "#FF0000",
        "icon": "",
        "payload": "{\"Clear\":1}",
        "payloadType": "json",
        "topic": "",
        "x": 920,
        "y": 1040,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "b0b0264c.deb448",
        "type": "ui_numeric",
        "z": "9a302408.330a28",
        "name": "",
        "label": "WTemp Low",
        "tooltip": "set the water low-temperature threshold below which there is no need to regulate Orp and Ph (ie. in winter)",
        "group": "b013f35d.f9cbb",
        "order": 14,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "Home/Pool/API",
        "format": "{{value}}",
        "min": "-5",
        "max": "15",
        "step": "0,5",
        "x": 770,
        "y": 800,
        "wires": [
            [
                "da425bd4.890118"
            ]
        ]
    },
    {
        "id": "da425bd4.890118",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "NumInput input to JSON",
        "func": "if(msg.payload != \"20\")\n    msg.payload = {\"WTempLow\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 800,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "36532b2c.547684",
        "type": "ui_numeric",
        "z": "9a302408.330a28",
        "name": "",
        "label": "OutsideTemp",
        "tooltip": "Provide the external temperature. Should be updated regularly and will be used to start filtration when outside air temperature is <-2.0deg.",
        "group": "b013f35d.f9cbb",
        "order": 15,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "Home/Pool/API",
        "format": "{{value}}",
        "min": "-5",
        "max": "35",
        "step": "0.5",
        "x": 770,
        "y": 860,
        "wires": [
            [
                "b2163f38.b3de9"
            ]
        ]
    },
    {
        "id": "b2163f38.b3de9",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "NumInput input to JSON",
        "func": "if(msg.payload != \"50\")\n    msg.payload = {\"TempExt\":msg.payload};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1030,
        "y": 860,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "96c980e2.c5c94",
        "type": "ui_form",
        "z": "9a302408.330a28",
        "name": "",
        "label": "pH Calibration",
        "group": "d5538b50.f9e168",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Display Value 1",
                "value": "DV1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Buffer Value 1",
                "value": "BV1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Display Value 2",
                "value": "DV2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Buffer Value 2",
                "value": "BV2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Display Value 3",
                "value": "DV3",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Buffer Value 3",
                "value": "BV3",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Display Value 4",
                "value": "DV4",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Buffer Value 4",
                "value": "BV4",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Display Value 5",
                "value": "DV5",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Buffer Value 5",
                "value": "BV5",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Display Value 6",
                "value": "DV6",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Buffer Value 6",
                "value": "BV6",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "DV1": "",
            "BV1": "",
            "DV2": "",
            "BV2": "",
            "DV3": "",
            "BV3": "",
            "DV4": "",
            "BV4": "",
            "DV5": "",
            "BV5": "",
            "DV6": "",
            "BV6": ""
        },
        "payload": "",
        "submit": "update",
        "cancel": "cancel",
        "topic": "",
        "x": 780,
        "y": 1140,
        "wires": [
            [
                "dbf8b508.bfcb18"
            ]
        ]
    },
    {
        "id": "dbf8b508.bfcb18",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "FormInput input to JSON",
        "func": "if(typeof msg.payload.DV1 !== 'undefined')\n{\n    var DV1=msg.payload.DV1;\n    var BV1=msg.payload.BV1;\n    var DV2=msg.payload.DV2;\n    var BV2=msg.payload.BV2;\n    var DV3=msg.payload.DV3;\n    var BV3=msg.payload.BV3;\n    var DV4=msg.payload.DV4;\n    var BV4=msg.payload.BV4;\n    var DV5=msg.payload.DV5;\n    var BV5=msg.payload.BV5;\n    var DV6=msg.payload.DV6;\n    var BV6=msg.payload.BV6;\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5!==0 & BV5!==0 & DV6!==0 & BV6!==0)\n   {\n    msg.payload = {\"F_PhCalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4,DV5,BV5,DV6,BV6]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5!==0 & BV5!==0 & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PhCalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4,DV5,BV5]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PhCalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4===null & BV4===null & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PhCalib\":[DV1,BV1,DV2,BV2,DV3,BV3]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3===null & BV3===null & DV4===null & BV4===null & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PhCalib\":[DV1,BV1,DV2,BV2,]};\n   }\n    return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 1140,
        "wires": [
            [
                "c88b7db0.82d2b",
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "6331a2b.dec075c",
        "type": "ui_form",
        "z": "9a302408.330a28",
        "name": "",
        "label": "Chl Calibration",
        "group": "1b47a94d.2484e7",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Display Value 1",
                "value": "DV1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Buffer Value 1",
                "value": "BV1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Display Value 2",
                "value": "DV2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Buffer Value 2",
                "value": "BV2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Display Value 3",
                "value": "DV3",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Buffer Value 3",
                "value": "BV3",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Display Value 4",
                "value": "DV4",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Buffer Value 4",
                "value": "BV4",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Display Value 5",
                "value": "DV5",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Buffer Value 5",
                "value": "BV5",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Display Value 6",
                "value": "DV6",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Buffer Value 6",
                "value": "BV6",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "DV1": "",
            "BV1": "",
            "DV2": "",
            "BV2": "",
            "DV3": "",
            "BV3": "",
            "DV4": "",
            "BV4": "",
            "DV5": "",
            "BV5": "",
            "DV6": "",
            "BV6": ""
        },
        "payload": "",
        "submit": "update",
        "cancel": "cancel",
        "topic": "",
        "x": 780,
        "y": 1200,
        "wires": [
            [
                "d530139a.ea023"
            ]
        ]
    },
    {
        "id": "c88b7db0.82d2b",
        "type": "debug",
        "z": "9a302408.330a28",
        "name": "pH Calib Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1320,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c257a77f.c74b88",
        "type": "debug",
        "z": "9a302408.330a28",
        "name": "Orp Calib Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1330,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d530139a.ea023",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "FormInput input to JSON",
        "func": "if(typeof msg.payload.DV1 !== 'undefined')\n{\n    var DV1=msg.payload.DV1;\n    var BV1=msg.payload.BV1;\n    var DV2=msg.payload.DV2;\n    var BV2=msg.payload.BV2;\n    var DV3=msg.payload.DV3;\n    var BV3=msg.payload.BV3;\n    var DV4=msg.payload.DV4;\n    var BV4=msg.payload.BV4;\n    var DV5=msg.payload.DV5;\n    var BV5=msg.payload.BV5;\n    var DV6=msg.payload.DV6;\n    var BV6=msg.payload.BV6;\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5!==0 & BV5!==0 & DV6!==0 & BV6!==0)\n   {\n    msg.payload = {\"F_OrpCalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4,DV5,BV5,DV6,BV6]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5!==0 & BV5!==0 & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_OrpCalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4,DV5,BV5]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_OrpCalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4===null & BV4===null & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_OrpCalib\":[DV1,BV1,DV2,BV2,DV3,BV3]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3===null & BV3===null & DV4===null & BV4===null & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_OrpCalib\":[DV1,BV1,DV2,BV2,]};\n   }\n    return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 1200,
        "wires": [
            [
                "c257a77f.c74b88",
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "150d9b67.33c625",
        "type": "ui_form",
        "z": "9a302408.330a28",
        "name": "",
        "label": "PSI Calibration",
        "group": "f0932f88.e354e",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Display Value 1",
                "value": "DV1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Buffer Value 1",
                "value": "BV1",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Display Value 2",
                "value": "DV2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Buffer Value 2",
                "value": "BV2",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Display Value 3",
                "value": "DV3",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Buffer Value 3",
                "value": "BV3",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Display Value 4",
                "value": "DV4",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Buffer Value 4",
                "value": "BV4",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Display Value 5",
                "value": "DV5",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Buffer Value 5",
                "value": "BV5",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Display Value 6",
                "value": "DV6",
                "type": "number",
                "required": false,
                "rows": null
            },
            {
                "label": "Buffer Value 6",
                "value": "BV6",
                "type": "number",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "DV1": "",
            "BV1": "",
            "DV2": "",
            "BV2": "",
            "DV3": "",
            "BV3": "",
            "DV4": "",
            "BV4": "",
            "DV5": "",
            "BV5": "",
            "DV6": "",
            "BV6": ""
        },
        "payload": "",
        "submit": "update",
        "cancel": "cancel",
        "topic": "",
        "x": 780,
        "y": 1260,
        "wires": [
            [
                "31968e02.d9c8b2"
            ]
        ]
    },
    {
        "id": "31968e02.d9c8b2",
        "type": "function",
        "z": "9a302408.330a28",
        "name": "FormInput input to JSON",
        "func": "if(typeof msg.payload.DV1 !== 'undefined')\n{\n    var DV1=msg.payload.DV1;\n    var BV1=msg.payload.BV1;\n    var DV2=msg.payload.DV2;\n    var BV2=msg.payload.BV2;\n    var DV3=msg.payload.DV3;\n    var BV3=msg.payload.BV3;\n    var DV4=msg.payload.DV4;\n    var BV4=msg.payload.BV4;\n    var DV5=msg.payload.DV5;\n    var BV5=msg.payload.BV5;\n    var DV6=msg.payload.DV6;\n    var BV6=msg.payload.BV6;\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5!==0 & BV5!==0 & DV6!==0 & BV6!==0)\n   {\n    msg.payload = {\"F_PSICalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4,DV5,BV5,DV6,BV6]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5!==0 & BV5!==0 & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PSICalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4,DV5,BV5]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4!==0 & BV4!==0 & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PSICalib\":[DV1,BV1,DV2,BV2,DV3,BV3,DV4,BV4]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3!==0 & BV3!==0 & DV4===null & BV4===null & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PSICalib\":[DV1,BV1,DV2,BV2,DV3,BV3]};\n   }\n   if(DV1!==0 & BV1!==0 & DV2!==0 & BV2!==0 & DV3===null & BV3===null & DV4===null & BV4===null & DV5===null & BV5===null & DV6===null & BV6===null)\n   {\n    msg.payload = {\"F_PSICalib\":[DV1,BV1,DV2,BV2,]};\n   }\n    return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1070,
        "y": 1260,
        "wires": [
            [
                "e9ff9b1e.6e9aa8"
            ]
        ]
    },
    {
        "id": "b013f35d.f9cbb",
        "type": "ui_group",
        "z": "",
        "name": "Controls",
        "tab": "3c319069.00703",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "30654e7b.139f62",
        "type": "mqtt-broker",
        "z": "",
        "name": "Local Broker",
        "broker": "192.168.1.35",
        "port": "1883",
        "clientid": "CharNodeRed",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Home/NodeRed",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "online",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "Home/NodeRed",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "offline"
    },
    {
        "id": "115be131.b7769f",
        "type": "ui_group",
        "z": "",
        "name": "SetPoints",
        "tab": "3c319069.00703",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "67aa0e8e.7d23a",
        "type": "ui_group",
        "z": "",
        "name": "Tanks Status",
        "tab": "3c319069.00703",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d5538b50.f9e168",
        "type": "ui_group",
        "z": "",
        "name": "pH Calibration",
        "tab": "3c319069.00703",
        "order": 4,
        "disp": true,
        "width": 5,
        "collapse": false
    },
    {
        "id": "1b47a94d.2484e7",
        "type": "ui_group",
        "z": "",
        "name": "Chl Calibration",
        "tab": "3c319069.00703",
        "order": 5,
        "disp": true,
        "width": 5,
        "collapse": false
    },
    {
        "id": "f0932f88.e354e",
        "type": "ui_group",
        "z": "",
        "name": "PSI calibration",
        "tab": "3c319069.00703",
        "order": 6,
        "disp": true,
        "width": 5,
        "collapse": false
    },
    {
        "id": "3c319069.00703",
        "type": "ui_tab",
        "z": "",
        "name": "Poolmaster control V1.3 (Does not reflect realtime values but retains the values you used previously in this dashboard !)",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
